<h2>Post a tweet</h2>

<%= form_with url: :user_tweet_index, method: :post, model: @tweet do |f| %>
    <div class="form-inputs">
        <div class="form-floating">
            <%= f.text_area :content, class:"form-control" %>
            </br>
        </div>
    </div>
    <div class="form-actions">
        <%= f.button :tweet, class:"btn btn-primary" %>
    </div>
<% end %>