<div class="container">
    <div class="row">
        <div class="col">
            <%= render partial: "welcome/index" %>
        </div>
        
        <div class="col">
            <h2>tweets</h2>
            <%= render partial: "tweets" , locals: {user: current_user, tweets: @tweets } %>
        </div>
        
        <div class="col">
            
            <h2>Followers</h2>
            <%= render partial: "followers" , locals: {user: current_user } %>
        </div>
        <div class="col">
            
            <h2>Following</h2>
            <%= render partial: "followees" , locals: {user: current_user } %>
        </div>
    </div>
</div>